{% load i18n %}
{% load account_tags %}
{% load url from future %}

{% if user.is_authenticated %}
    {% if THEME_ACCOUNT_ADMIN_URL and user.is_staff %}
        <a href="{% url THEME_ACCOUNT_ADMIN_URL %}"><i class="icon-cog"></i> {% trans "Admin" %}</a>
    {% endif %}
    <a href="{% url "my_orders" %}"><span>{% trans "My orders" %}</span></a>
    <a href="{% url "account_logout" %}"><span>{% trans "Log out" %}</span></a>
    <span id="navigationright">You are currently logged in as {{ user }}.</span>
{% else %}
    <a href="{% url "account_login" %}"><span>{% trans "Log in" %}</span></a>
    <a href="{% url "account_signup" %}"><span>{% trans "Sign up" %}</span></a>
    <span id="navigationright">You are not logged in.</span>
{% endif %}

